!/.gitignore
*.pid
*.xml
*.csr
*.crt
*.key
*.pem
*.old
*.config_entries
*.tmp
*.conf
*.db-journal
.uuid
.storage
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
freebox.conf
gitupdate.sh
deps
hadaemon
tts
